src/main/resources/AWSAlexa.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
            ####################################################################################
            #
            # DO NOT EDIT!!! THIS FILE IS AUTOMATICALLY GENERATED
            #
            ####################################################################################
        --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://alexa.amazonaws.com/doc/2005-10-05/"
           elementFormDefault="qualified"
           targetNamespace="http://alexa.amazonaws.com/doc/2005-10-05/">
   <xs:element name="MultiOperation">
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="tns:CategoryBrowse"/>
            <xs:element minOccurs="0" ref="tns:CategoryListings"/>
            <xs:element minOccurs="0" ref="tns:Crawl"/>
            <xs:element minOccurs="0" ref="tns:SitesLinkingIn"/>
            <xs:element minOccurs="0" ref="tns:TrafficHistory"/>
            <xs:element minOccurs="0" ref="tns:UrlInfo"/>
            <xs:element minOccurs="0" ref="tns:WebMap"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="MultiOperationResponse">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="tns:OperationRequest" minOccurs="0"/>
            <xs:element minOccurs="0" ref="tns:CategoryBrowseResponse"/>
            <xs:element minOccurs="0" ref="tns:CategoryListingsResponse"/>
            <xs:element minOccurs="0" ref="tns:CrawlResponse"/>
            <xs:element minOccurs="0" ref="tns:SitesLinkingInResponse"/>
            <xs:element minOccurs="0" ref="tns:TrafficHistoryResponse"/>
            <xs:element minOccurs="0" ref="tns:UrlInfoResponse"/>
            <xs:element minOccurs="0" ref="tns:WebMapResponse"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Information">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="tns:Request" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="tns:OperationInformation" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="tns:ResponseGroupInformation" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="OperationInformation">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Name" type="xs:string" minOccurs="0"/>
            <xs:element name="Description" type="xs:string" minOccurs="0"/>
            <xs:element name="RequiredParameters" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="Parameter" type="xs:string" maxOccurs="unbounded"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="AvailableParameters" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="Parameter" type="xs:string" maxOccurs="unbounded"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="DefaultResponseGroups" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="ResponseGroup" type="xs:string" maxOccurs="unbounded"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="AvailableResponseGroups" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="ResponseGroup" type="xs:string" maxOccurs="unbounded"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="ResponseGroupInformation">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Name" type="xs:string" minOccurs="0"/>
            <xs:element name="CreationDate" type="xs:string" minOccurs="0"/>
            <xs:element name="ValidOperations" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="Operation" type="xs:string" maxOccurs="unbounded"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="Elements" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="Element" type="xs:string" maxOccurs="unbounded"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="CategoryBrowse">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Request" minOccurs="0" type="tns:CategoryBrowseRequest"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="CategoryBrowseRequest">
      <xs:sequence>
         <xs:element name="Security" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="AWSAccessKeyId" type="xs:string" minOccurs="0"/>
                  <xs:element name="Signature" type="xs:string" minOccurs="0"/>
                  <xs:element name="Timestamp" type="xs:string" minOccurs="0"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element type="xs:string" name="ResponseGroup"/>
         <xs:element type="xs:string" name="Path"/>
         <xs:element type="xs:string" name="Version" minOccurs="0"/>
         <xs:element type="xs:string" name="Descriptions" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="CategoryBrowseResult">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="tns:Request" minOccurs="0"/>
            <xs:element ref="tns:Errors" minOccurs="0"/>
            <xs:element ref="tns:Alexa" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="CategoryBrowseResponse">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Response">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element ref="tns:OperationRequest" minOccurs="0" maxOccurs="unbounded"/>
                     <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:CategoryBrowseResult"/>
                     <xs:element ref="tns:ResponseStatus" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="CategoryListings">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Request" minOccurs="0" type="tns:CategoryListingsRequest"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="CategoryListingsRequest">
      <xs:sequence>
         <xs:element name="Security" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="AWSAccessKeyId" type="xs:string" minOccurs="0"/>
                  <xs:element name="Signature" type="xs:string" minOccurs="0"/>
                  <xs:element name="Timestamp" type="xs:string" minOccurs="0"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element type="xs:string" name="ResponseGroup"/>
         <xs:element type="xs:string" name="Path"/>
         <xs:element type="xs:string" name="SortBy" minOccurs="0"/>
         <xs:element type="xs:string" name="Recursive" minOccurs="0"/>
         <xs:element type="xs:string" name="Start" minOccurs="0"/>
         <xs:element type="xs:string" name="Count" minOccurs="0"/>
         <xs:element type="xs:string" name="Version" minOccurs="0"/>
         <xs:element type="xs:string" name="Descriptions" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="CategoryListingsResult">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="tns:Request" minOccurs="0"/>
            <xs:element ref="tns:Errors" minOccurs="0"/>
            <xs:element ref="tns:Alexa" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="CategoryListingsResponse">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Response">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element ref="tns:OperationRequest" minOccurs="0" maxOccurs="unbounded"/>
                     <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:CategoryListingsResult"/>
                     <xs:element ref="tns:ResponseStatus" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Crawl">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Request" minOccurs="0" type="tns:CrawlRequest"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="CrawlRequest">
      <xs:sequence>
         <xs:element name="Security" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="AWSAccessKeyId" type="xs:string" minOccurs="0"/>
                  <xs:element name="Signature" type="xs:string" minOccurs="0"/>
                  <xs:element name="Timestamp" type="xs:string" minOccurs="0"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element type="xs:string" name="ResponseGroup"/>
         <xs:element type="xs:string" name="Url"/>
         <xs:element type="xs:string" name="Version" minOccurs="0"/>
         <xs:element type="xs:string" name="Start" minOccurs="0"/>
         <xs:element type="xs:string" name="Count" minOccurs="0"/>
         <xs:element type="xs:string" name="Purify" minOccurs="0"/>
         <xs:element type="xs:string" name="ResponseCodes" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="CrawlResult">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="tns:Request" minOccurs="0"/>
            <xs:element ref="tns:Errors" minOccurs="0"/>
            <xs:element ref="tns:Alexa" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="CrawlResponse">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Response">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element ref="tns:OperationRequest" minOccurs="0" maxOccurs="unbounded"/>
                     <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:CrawlResult"/>
                     <xs:element ref="tns:ResponseStatus" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="SitesLinkingIn">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Request" minOccurs="0" type="tns:SitesLinkingInRequest"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="SitesLinkingInRequest">
      <xs:sequence>
         <xs:element name="Security" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="AWSAccessKeyId" type="xs:string" minOccurs="0"/>
                  <xs:element name="Signature" type="xs:string" minOccurs="0"/>
                  <xs:element name="Timestamp" type="xs:string" minOccurs="0"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element type="xs:string" name="Url"/>
         <xs:element type="xs:string" name="ResponseGroup"/>
         <xs:element type="xs:string" name="Version" minOccurs="0"/>
         <xs:element type="xs:string" name="Count" minOccurs="0"/>
         <xs:element type="xs:string" name="Start" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="SitesLinkingInResult">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="tns:Request" minOccurs="0"/>
            <xs:element ref="tns:Errors" minOccurs="0"/>
            <xs:element ref="tns:Alexa" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="SitesLinkingInResponse">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Response">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element ref="tns:OperationRequest" minOccurs="0" maxOccurs="unbounded"/>
                     <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:SitesLinkingInResult"/>
                     <xs:element ref="tns:ResponseStatus" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="TrafficHistory">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Request" minOccurs="0" type="tns:TrafficHistoryRequest"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="TrafficHistoryRequest">
      <xs:sequence>
         <xs:element name="Security" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="AWSAccessKeyId" type="xs:string" minOccurs="0"/>
                  <xs:element name="Signature" type="xs:string" minOccurs="0"/>
                  <xs:element name="Timestamp" type="xs:string" minOccurs="0"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element type="xs:string" name="Url"/>
         <xs:element type="xs:string" name="ResponseGroup"/>
         <xs:element type="xs:string" name="Version" minOccurs="0"/>
         <xs:element type="xs:string" name="Range" minOccurs="0"/>
         <xs:element type="xs:string" name="Start" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="TrafficHistoryResult">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="tns:Request" minOccurs="0"/>
            <xs:element ref="tns:Errors" minOccurs="0"/>
            <xs:element ref="tns:Alexa" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="TrafficHistoryResponse">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Response">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element ref="tns:OperationRequest" minOccurs="0" maxOccurs="unbounded"/>
                     <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:TrafficHistoryResult"/>
                     <xs:element ref="tns:ResponseStatus" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="UrlInfo">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Request" minOccurs="0" type="tns:UrlInfoRequest"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="UrlInfoRequest">
      <xs:sequence>
         <xs:element name="Security" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="AWSAccessKeyId" type="xs:string" minOccurs="0"/>
                  <xs:element name="Signature" type="xs:string" minOccurs="0"/>
                  <xs:element name="Timestamp" type="xs:string" minOccurs="0"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element type="xs:string" name="Url"/>
         <xs:element type="xs:string" name="ResponseGroup"/>
         <xs:element type="xs:string" name="Version" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="UrlInfoResult">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="tns:Request" minOccurs="0"/>
            <xs:element ref="tns:Errors" minOccurs="0"/>
            <xs:element ref="tns:Alexa" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="UrlInfoResponse">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Response">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element ref="tns:OperationRequest" minOccurs="0" maxOccurs="unbounded"/>
                     <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:UrlInfoResult"/>
                     <xs:element ref="tns:ResponseStatus" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="WebMap">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Request" minOccurs="0" type="tns:WebMapRequest"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="WebMapRequest">
      <xs:sequence>
         <xs:element name="Security" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="AWSAccessKeyId" type="xs:string" minOccurs="0"/>
                  <xs:element name="Signature" type="xs:string" minOccurs="0"/>
                  <xs:element name="Timestamp" type="xs:string" minOccurs="0"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element type="xs:string" name="Url"/>
         <xs:element type="xs:string" name="ResponseGroup"/>
         <xs:element type="xs:string" name="Version" minOccurs="0"/>
         <xs:element type="xs:string" name="Count" minOccurs="0"/>
         <xs:element type="xs:string" name="Start" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="WebMapResult">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="tns:Request" minOccurs="0"/>
            <xs:element ref="tns:Errors" minOccurs="0"/>
            <xs:element ref="tns:Alexa" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="WebMapResponse">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Response">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element ref="tns:OperationRequest" minOccurs="0" maxOccurs="unbounded"/>
                     <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:WebMapResult"/>
                     <xs:element ref="tns:ResponseStatus" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="OperationRequest">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="tns:HTTPHeaders" minOccurs="0"/>
            <xs:element name="RequestId" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="tns:Arguments" minOccurs="0"/>
            <xs:element ref="tns:Errors" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Request">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="IsValid" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="tns:Arguments" minOccurs="0"/>
            <xs:element ref="tns:Errors" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Arguments">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Argument" maxOccurs="unbounded">
               <xs:complexType>
                  <xs:attribute name="Name" type="xs:string" use="required"/>
                  <xs:attribute name="Value" type="xs:string" use="required"/>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="HTTPHeaders">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Header" minOccurs="0" maxOccurs="unbounded">
               <xs:complexType>
                  <xs:attribute name="Name" type="xs:string" use="required"/>
                  <xs:attribute name="Value" type="xs:string" use="required"/>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Errors">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Error" maxOccurs="unbounded">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="Code" type="xs:string"/>
                     <xs:element name="Message" type="xs:string"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="ResponseStatus">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="StatusCode" type="xs:string"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Result"/>
   <!--Paste the Alexa node from http://client.alexa.com/schema/alexa.xsd here--><xs:element name="Alexa">
        <xs:annotation>
            <xs:documentation>Root element for alexa data container.  May exist as either a root node or a child element representing a chained result</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Request" type="tns:RequestType" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Information about the data request</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CategoryBrowse" type="tns:CategoryBrowseType" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Browse Category Action. Web Directory service based on the Open Directory.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CategoryListings" type="tns:CategoryListingsType" minOccurs="0"/>
                <xs:element name="ContactInfo" type="tns:ContactInfoType" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>URL Information Action. Root node for information about the site owner/contact.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ContentData" type="tns:ContentDataType" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>URL Information Action. Root node for information about site content (e.g. Popup frequency, AdultContent index, site load times, etc.)</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CrawlData" type="tns:CrawlType" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Crawl Meta Data Action. Provides informatin about specific pages/URLs in Alexa's crawl of the Web.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Related" type="tns:RelatedType" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>URL Informatin Action. Related information (such as related links and category/DMOZ data) for the specified site</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="SitesLinkingIn" type="tns:SitesLinkingInType" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Sites Linking In Action. Information about list of sites linking to specified site</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="TrafficData" type="tns:TrafficDataType" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>URL Information Action. Information about traffic for the specified site</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="TrafficHistory" type="tns:TrafficHistoryType" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Traffic history service. Provides historical traffic ranking data.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="UniqueId" type="xs:token" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Unique ID generated and used by the AlexaToolbarDataService.  Not applicable to AlexaWebInfoService</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="WebMapData" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Web Map Action. Provides lists of links in and links for a given URL.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="tns:UrlServiceType">
                                <xs:sequence>
                                    <xs:element name="LinksPointingIn" type="tns:WebMapSubType" minOccurs="0"/>
                                    <xs:element name="LinksPointingOut" type="tns:WebMapSubType" minOccurs="0"/>
                                </xs:sequence>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
   <xs:element name="AlexaBatch">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:Alexa" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
   <xs:complexType name="AttributeType">
        <xs:annotation>
            <xs:documentation>Represents a name/value pair as retrieved from either queryString or POST data</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Name" type="xs:token">
                <xs:annotation>
                    <xs:documentation>Name portion of query parameter</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Value" type="xs:token">
                <xs:annotation>
                    <xs:documentation>Data attributed to named query parameter</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
   <xs:complexType name="ContactInfoType">
        <xs:annotation>
            <xs:documentation>Structure containing information related to the owner or contact for the site</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="tns:UrlServiceType">
                <xs:sequence>
                    <xs:element name="PhoneNumbers" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Base PhoneNumbers node</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="PhoneNumber" type="tns:PhoneNumberType" maxOccurs="unbounded">
                                    <xs:annotation>
                                        <xs:documentation>Phone number of contact.  Types are specified (fax, home, work, etc) in attribute Type)</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="OwnerName" type="tns:GenericDataType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Name of site owner</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Email" type="tns:EmailType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Contact email address</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="PhysicalAddress" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Physical Address of site/site owner</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="tns:PhysicalAddressType">
                                    <xs:sequence>
                                        <xs:element name="UnformattedAddress" type="tns:GenericDataType" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>For legacy reasons, we need to support addresses that can't be supported by the PhysicalAddressType</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="CompanyStockTicker" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Stock Ticker symbol (if available)</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Symbol" type="tns:GenericDataType" minOccurs="0">
                                    <xs:annotation>
                                        <xs:documentation>Stock Ticker Symbol (if available)</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="Exchange" type="tns:GenericDataType" minOccurs="0">
                                    <xs:annotation>
                                        <xs:documentation>Exchange for which this stock is traded</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
   <xs:complexType name="ContentDataType">
        <xs:annotation>
            <xs:documentation>Structure containing information related to the content of a site</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="tns:UrlServiceType">
                <xs:sequence>
                    <xs:element name="SiteData" type="tns:SiteDataType" minOccurs="0"/>
                    <xs:element name="Speed" type="tns:SpeedType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Speed of site.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="AdultContent" type="xs:token" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>no = not porn, yes = porn</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Language" type="tns:LanguageType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Primary language found on the site. </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="AverageReview" type="xs:token" minOccurs="0"/>
                    <xs:element name="LinksInCount" type="tns:UnsignedIntegerType" minOccurs="0"/>
                    <xs:element name="Keywords" type="tns:KeywordsType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Collection of keywords and phrases pertaining to this site.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="OwnedDomains" type="tns:OwnedDomainsType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Collection of other domains owned by this site's owner.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
   <xs:complexType name="ErrorType">
        <xs:annotation>
            <xs:documentation>Structure for defining an Error occurring while building the requested information</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ErrorCode" type="xs:token">
                <xs:annotation>
                    <xs:documentation>Textual error code</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ErrorMessage" type="xs:token">
                <xs:annotation>
                    <xs:documentation>Textual error information</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Service" type="xs:token" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Name or path of service that threw the error</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
   <xs:complexType name="GenericDataType">
        <xs:annotation>
            <xs:documentation>Base type for simple content elements</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string"/>
        </xs:simpleContent>
    </xs:complexType>
   <xs:complexType name="LanguageType">
        <xs:sequence>
            <xs:element name="Locale" type="xs:token"/>
            <xs:element name="Encoding" type="xs:token" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
   <xs:complexType name="PhoneNumberType">
        <xs:annotation>
            <xs:documentation>Phone number</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string"/>
        </xs:simpleContent>
    </xs:complexType>
   <xs:complexType name="PhysicalAddressType">
        <xs:annotation>
            <xs:documentation>Defines a structure for a physical (e.g. mailing) address</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Streets" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Street address</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Street" type="tns:GenericDataType" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>Unbounded node containing one line of street address</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="City" type="tns:GenericDataType" minOccurs="0"/>
            <xs:element name="State" type="tns:GenericDataType" minOccurs="0"/>
            <xs:element name="PostalCode" type="tns:GenericDataType" minOccurs="0"/>
            <xs:element name="Country" type="tns:GenericDataType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
   <xs:complexType name="RelatedLinkType">
        <xs:complexContent>
            <xs:extension base="tns:UrlServiceType">
                <xs:sequence>
                    <xs:element name="Relevance" type="tns:UnsignedIntegerType">
                        <xs:annotation>
                            <xs:documentation>Number indicating strength of relationship between given site and RelatedLink. Higher number indicates greater strengrth.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Title" type="xs:normalizedString">
                        <xs:annotation>
                            <xs:documentation>Name of Related Link</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
   <xs:complexType name="RelatedType">
        <xs:annotation>
            <xs:documentation>Structure containing information directly related to a site's usage (such as categories and related links)</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="tns:UrlServiceType">
                <xs:sequence>
                    <xs:element name="RelatedLinks" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>List of URLs that are related to the given URL.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="RelatedLink" type="tns:RelatedLinkType" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="Categories" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>List of Categories that are related to the given URL</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="CategoryData" maxOccurs="unbounded">
                                    <xs:annotation>
                                        <xs:documentation>Describes a category (unbounded)</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:complexContent>
                                            <xs:extension base="tns:CategoryType">
                                                <xs:sequence>
                                                    <xs:element name="AbsolutePath" type="xs:token"/>
                                                </xs:sequence>
                                            </xs:extension>
                                        </xs:complexContent>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
   <xs:complexType name="RequestType">
        <xs:annotation>
            <xs:documentation>contains Elements pertaining to the original data request</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Arguments" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Argument" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Name" type="xs:token"/>
                                    <xs:element name="Value" type="xs:token"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DateTime" type="xs:dateTime" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Time the request was made</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ResponseTime" type="tns:UnsignedIntegerType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Amount of time it took to process the request (in milliseconds)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Errors" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Optional node containing error information (if any)</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Error" type="tns:ErrorType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
   <xs:complexType name="SpeedType">
        <xs:annotation>
            <xs:documentation>contains Elements pertaining to the site's speed</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MedianLoadTime" type="tns:GenericDataType">
                <xs:annotation>
                    <xs:documentation>Average time it took to load page content for this site (in milliseconds)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Percentile" type="tns:GenericDataType">
                <xs:annotation>
                    <xs:documentation>Percentage of sites on the web that are slower.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
   <xs:complexType name="TrafficStatType">
        <xs:annotation>
            <xs:documentation>Structure defining a single Traffic Statistic (value and delta)</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Value" type="tns:GenericDataType"/>
            <xs:element name="Delta" type="tns:GenericDataType">
                <xs:annotation>
                    <xs:documentation>Change  from previous Time Range.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
   <xs:complexType name="TrafficDataType">
        <xs:annotation>
            <xs:documentation>Structure containing information related to site traffic</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="tns:UrlServiceType">
                <xs:sequence>
                    <xs:element name="Rank" type="tns:GenericDataType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>3 month average global traffic rank. Based on Toolbar usage data.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="RankByCountry" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Country" maxOccurs="unbounded">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="Rank" type="tns:GenericDataType" minOccurs="0">
                                                <xs:annotation>
                                                    <xs:documentation>3 month average global traffic rank. Based on Toolbar usage data.</xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element name="Contribution">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="PageViews" type="xs:string"/>
                                                        <xs:element name="Users" type="xs:string"/>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                        <xs:attribute name="Code"/>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="RankByCity" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="City" maxOccurs="unbounded">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="Rank" type="tns:GenericDataType" minOccurs="0">
                                                <xs:annotation>
                                                    <xs:documentation>3 month average global traffic rank. Based on Toolbar usage data.</xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element name="Contribution">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="PageViews" type="xs:string"/>
                                                        <xs:element name="Users" type="xs:string"/>
                                                        <xs:sequence>
                                                            <xs:element name="PerUser">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element name="AveragePageViews" type="xs:string"/>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                        <xs:attribute name="Code"/>
                                        <xs:attribute name="Name"/>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="ContributingSubdomains" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>List of subdomains receiving traffic on the given site.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="ContributingSubdomain" type="tns:ContributingSiteType"
                                    maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="UsageStatistics" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Provides more detailed usage statistics for given site.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="UsageStatistic" type="tns:UsageStatisticType" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
   <xs:complexType name="UrlServiceType">
        <xs:annotation>
            <xs:documentation>Base type for services that take a URI as a parameter and return data about that URI.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="DataUrl">
                <xs:annotation>
                    <xs:documentation>URL this data is about.  Required element</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="tns:GenericDataType">
                            <xs:attribute name="type" type="xs:token" use="optional"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="NavigableUrl" type="tns:GenericDataType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Optionally, url that can be navigated to in browser</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="tns:Alexa" minOccurs="0"/>
            <xs:element name="Asin" type="xs:token" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>ASIN / Amazon ID Number (if available.) Used to navigate to site info pages for DataUrl on Amazon.com.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
   <xs:complexType name="UsageStatisticType">
        <xs:annotation>
            <xs:documentation>Specifies structure for defining a usage statistic (in traffic Details)</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TimeRange" type="tns:TimeRangeType">
                <xs:annotation>
                    <xs:documentation>Specifies time range for given reach, rank or pageview data point.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Rank" type="tns:TrafficStatType">
                <xs:annotation>
                    <xs:documentation>Global traffic rank. Based on toolbar usage data. Rank is based on mean of reach and pageview rank data.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Reach">
                <xs:annotation>
                    <xs:documentation>Reach is an indication of number of visitors, based on Toolbar usage.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Rank" type="tns:TrafficStatType">
                            <xs:annotation>
                                <xs:documentation>A numeric rank indicating where this site falls in a ranking of all sites by Reach.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="PerMillion" type="tns:TrafficStatType">
                            <xs:annotation>
                                <xs:documentation>A numeric value indicating, out of a million toolbar users, how many visit this.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="PageViews">
                <xs:annotation>
                    <xs:documentation>PageViews is an indication of "hits" for the given site.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="PerMillion" type="tns:TrafficStatType">
                            <xs:annotation>
                                <xs:documentation>Out of a million toolbar pageviews, how many occured on the given site.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Rank" type="tns:TrafficStatType">
                            <xs:annotation>
                                <xs:documentation>A numeric rank indicating where this site falls in a ranking of all sites by Page Views.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="PerUser" type="tns:TrafficStatType">
                            <xs:annotation>
                                <xs:documentation>Average number of hits / pageviews per user.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
   <xs:simpleType name="EmailType">
        <xs:annotation>
            <xs:documentation>Corresponds to an email address in the form user@userdomain.sfx</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*@[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*"/>
        </xs:restriction>
    </xs:simpleType>
   <xs:simpleType name="IPAddressType">
        <xs:annotation>
            <xs:documentation>Decimal IP Address in the form xxx.xxx.xxx.xxx</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="(25[0-5]|2[0-4]\d|1\d\d|\d{1,2})\.(25[0-5]|2[0-4]\d|1\d\d|\d{1,2})\.(25[0-5]|2[0-4]\d|1\d\d|\d{1,2})\.(25[0-5]|2[0-4]\d|1\d\d|\d{1,2})"/>
        </xs:restriction>
    </xs:simpleType>
   <xs:simpleType name="UnsignedIntegerType">
        <xs:annotation>
            <xs:documentation>Integer from 0 to n</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
   <xs:complexType name="WebMapSubType">
        <xs:sequence>
            <xs:element name="StartNumber" type="tns:UnsignedIntegerType"/>
            <xs:element name="Count" type="tns:UnsignedIntegerType"/>
            <xs:element name="Total" type="tns:UnsignedIntegerType"/>
            <xs:element name="Results" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Result" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:extension base="tns:UrlServiceType"/>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
   <xs:complexType name="CategoriesType">
        <xs:sequence>
            <xs:element name="Category" type="tns:CategoryType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
   <xs:complexType name="CategoryType">
        <xs:sequence>
            <xs:element name="Path" type="xs:token" minOccurs="0"/>
            <xs:element name="Title" type="xs:normalizedString"/>
            <xs:element name="SubCategoryCount" type="tns:UnsignedIntegerType" minOccurs="0"/>
            <xs:element name="TotalListingCount" type="tns:UnsignedIntegerType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
   <xs:complexType name="ListingsType">
        <xs:sequence>
            <xs:element name="Listing" type="tns:ListingType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
   <xs:complexType name="ListingType">
        <xs:sequence>
            <xs:element name="DataUrl" type="tns:DataUrlType"/>
            <xs:element name="Title" type="xs:normalizedString"/>
            <xs:element name="PopularityRank" type="tns:UnsignedIntegerType"/>
            <xs:element name="AverageReview" type="xs:token" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
   <xs:complexType name="ContributingSiteType">
        <xs:sequence>
            <xs:element name="DataUrl" type="xs:token">
                <xs:annotation>
                    <xs:documentation>subdomain this data is about.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TimeRange">
                <xs:annotation>
                    <xs:documentation>Time period for data analysis.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:choice>
                        <xs:element name="Days" type="tns:UnsignedIntegerType"/>
                        <xs:element name="Months" type="tns:UnsignedIntegerType"/>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
            <xs:element name="Reach">
                <xs:annotation>
                    <xs:documentation>Reach indicates how manyu users this subdomain gets.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Percentage" type="xs:token">
                            <xs:annotation>
                                <xs:documentation>For the given site, what percentage of users visit this subdomain. may add up to more than 100 because users may visit more than one subdomain.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="PageViews">
                <xs:annotation>
                    <xs:documentation>PageViews indicates how many "hits" this subdomain gets.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Percentage" type="xs:token">
                            <xs:annotation>
                                <xs:documentation>Percent of total pageviews on site that occur on this subdomain.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="PerUser" type="xs:decimal">
                            <xs:annotation>
                                <xs:documentation>Number of hits / page views average per user.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
   <xs:complexType name="CrawlType">
        <xs:choice>
            <xs:element name="MetaData" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="ResultNumber" type="tns:UnsignedIntegerType">
                            <xs:annotation>
                                <xs:documentation>In any request, the number of this result (1-based index)</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="RequestInfo">
                            <xs:annotation>
                                <xs:documentation>Parent element containing information about the original request.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="OriginalRequest" type="xs:token">
                                        <xs:annotation>
                                            <xs:documentation>URL of the original request</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="IPAddress" type="xs:token">
                                        <xs:annotation>
                                            <xs:documentation>IP address of the requested server at the time the page was crawled.</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="RequestDate" type="xs:token">
                                        <xs:annotation>
                                            <xs:documentation>Datetime (YYYYmmddhhiissnn) of the original request</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="RedirectedUrl" type="xs:token" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>In the case that the server returned a 302 HTTP response code, the URL it redirected to.</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="ContentType" type="xs:token">
                                        <xs:annotation>
                                            <xs:documentation>Content type returned in the HTTP Header</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="ResponseCode" type="tns:UnsignedIntegerType">
                                        <xs:annotation>
                                            <xs:documentation>HTTP Response code</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="Length" type="tns:UnsignedIntegerType">
                                        <xs:annotation>
                                            <xs:documentation>Total content length</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="Language" type="xs:token">
                                        <xs:annotation>
                                            <xs:documentation>Language of the page as returned by the requested server.</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Checksums">
                            <xs:annotation>
                                <xs:documentation>Collection of checksum information related to this page.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="AppearanceChecksum" type="xs:token">
                                        <xs:annotation>
                                            <xs:documentation>MD5 Checskum of page content, excluding non-structural HTML elements.</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="ContentChecksum" type="xs:token">
                                        <xs:annotation>
                                            <xs:documentation>MD5 Checksum of page content as it was originally retrieved.</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Title" type="xs:normalizedString" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Title of the page</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="OtherUrls" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Collection of URLs which appear on this page, outside of anchor tags.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="OtherUrl" maxOccurs="unbounded">
                                        <xs:annotation>
                                            <xs:documentation>URL that appears on this page.  The source attribute indicates in which context the link appears (e.g. a src= attribute, href= attribute, or within a script block).</xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:simpleContent>
                                                <xs:extension base="xs:token">
                                                    <xs:attribute name="source" type="xs:token"/>
                                                </xs:extension>
                                            </xs:simpleContent>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Images" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Collection of images found on this page.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Image" type="xs:token" maxOccurs="unbounded">
                                        <xs:annotation>
                                            <xs:documentation>URI of an image on this page</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Links" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Collection of links found on this page.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Link" maxOccurs="unbounded">
                                        <xs:annotation>
                                            <xs:documentation>an individual link on a page</xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Name" type="xs:token" minOccurs="0">
                                                    <xs:annotation>
                                                        <xs:documentation>Name of the link as it appears on the page.</xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="LocationURI" type="xs:token">
                                                    <xs:annotation>
                                                        <xs:documentation>Equivalent of the href tag of an anchor link on the page.</xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="Index" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="MD5Sum" type="xs:token"/>
                        <xs:element name="CanonizedUrl" type="xs:token"/>
                        <xs:element name="Location" type="xs:token"/>
                        <xs:element name="FileName" type="xs:token"/>
                        <xs:element name="Offsets">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Arc" type="tns:UnsignedIntegerType"/>
                                    <xs:element name="Dat" type="tns:UnsignedIntegerType"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:choice>
        <xs:attribute name="TotalCount"/>
    </xs:complexType>
   <xs:complexType name="SitesLinkingInType">
        <xs:sequence>
            <xs:element name="Site" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Title" type="xs:normalizedString"/>
                        <xs:element name="Url" type="xs:normalizedString"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
   <xs:complexType name="TrafficHistoryType">
        <xs:sequence>
            <xs:element name="Range" type="xs:integer"/>
            <xs:element name="Site" type="xs:string"/>
            <xs:element name="Start" type="xs:string"/>
            <xs:element name="HistoricalData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Data" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Date" type="xs:string"/>
                                    <xs:element name="PageViews">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="PerMillion" type="xs:string"/>
                                                <xs:element name="PerUser" type="xs:string"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Rank" type="xs:string"/>
                                    <xs:element name="Reach">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="PerMillion" type="xs:string"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
   <xs:complexType name="TimeRangeType">
        <xs:choice>
            <xs:element name="Days" type="tns:UnsignedIntegerType"/>
            <xs:element name="Months" type="tns:UnsignedIntegerType"/>
        </xs:choice>
    </xs:complexType>
   <xs:complexType name="AccountType">
        <xs:sequence>
            <xs:element name="Balance" type="tns:UnsignedIntegerType"/>
        </xs:sequence>
    </xs:complexType>
   <xs:complexType name="ResponseType">
        <xs:sequence>
            <xs:element name="Request" type="tns:RequestType">
                <xs:annotation>
                    <xs:documentation>Information about the data request</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
   <xs:complexType name="CategoryBrowseType">
        <xs:sequence>
            <xs:element name="Categories" type="tns:CategoriesType" minOccurs="0"/>
            <xs:element name="LanguageCategories" type="tns:CategoriesType" minOccurs="0"/>
            <xs:element name="RelatedCategories" type="tns:CategoriesType" minOccurs="0"/>
            <xs:element name="LetterBars" type="tns:LetterBarsType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
   <xs:complexType name="DataUrlType">
        <xs:simpleContent>
            <xs:extension base="xs:token">
                <xs:attribute name="type" type="xs:token"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
   <xs:complexType name="CategoryListingsType">
        <xs:sequence>
            <xs:element name="RecursiveCount" type="xs:token"/>
            <xs:element name="Count" type="xs:token"/>
            <xs:element name="Listings" type="tns:ListingsType" minOccurs="0"/>
            <xs:element name="ReviewersRaveListings" type="tns:ListingsType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
   <xs:complexType name="SiteDataType">
        <xs:sequence>
            <xs:element name="Title" type="xs:normalizedString" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The title of this site.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Description" type="xs:token" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A brief description of this site.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OnlineSince" type="xs:token" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
   <xs:complexType name="KeywordsType">
        <xs:sequence>
            <xs:element name="Keyword" type="xs:token" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Keyword or phrase</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
   <xs:complexType name="OwnedDomainsType">
        <xs:sequence>
            <xs:element name="OwnedDomain" type="tns:OwnedDomainType" minOccurs="0"
                     maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
   <xs:complexType name="OwnedDomainType">
        <xs:sequence>
            <xs:element name="Domain" type="xs:token"/>
            <xs:element name="Title" type="xs:normalizedString"/>
        </xs:sequence>
    </xs:complexType>
   <xs:complexType name="LetterBarsType">
        <xs:sequence>
            <xs:element name="Category" type="tns:CategoryType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>